doctype html
html(lang=global.lang)
	head
		block vars

		title= title
		meta(name='description', content=description)

		if global.alternate_lang
			link(rel='alternate', href=global.alternate_lang_path, hreflang=global.alternate_lang)

		link(rel="stylesheet", href="/index.min.css")

	body
		.container(page=pageClass)
			//- unless noLang
			//- 	include /_components/lang/lang

			block content

			unless noFooter
				include /_components/footer/footer

		//- script(src="/common.js")
		script(src="/index.js")
