doctype html
html(lang=global.lang)
	head
		block vars

		title= title
		meta(name='description', content=description)
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/manifest.json')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='theme-color', content='#ffffff')

		if global.alternate_lang
			link(rel='alternate', href=global.alternate_lang_path, hreflang=global.alternate_lang)

		link(rel="stylesheet", href="/index.min.css")

	body
		block content

		script.
			window.messages = window.messages || {}
			window.messages.settings = window.messages.settings || {}
			window.messages.activate = window.messages.activate || {}

			window.messages.settings.redirect = "#{global.settings.messages.redirect}"
			window.messages.settings.sucess = "#{global.settings.messages.sucess}"
			window.messages.activate.redirect = "#{global.activate.messages.redirect}"

		script(src="/index.js")
