extends /_layouts/default

block vars
	- var title = global.settings.title
	- var description = global.settings.description
	- var pageClass = 'settings'

block content
	h1=title

	.wrap_small
		p!= global.settings.success
			br
			| #{global.settings.ready}

		br
		form.settings-form
			input(type='email', placeholder=global.settings.placeholder_email, required)
			| #{' '}
			select(required)
				each time in global.settings.times
					if time.value == '20'
						option(value=time.value, selected)= time.text
					else
						option(value=time.value)= time.text

			br
			button= global.settings.submit

	script
		| window.messages = window.messages || {}
