extends /_layouts/default

block vars
	- var title = global.name
	- var description = 'Description'

block content
	h1=title
		| #{' '}
		mark beta

	p.slogan Социальная лента без воды
	img(src='/assets/colander_trimmed.gif', alt='')

	include ./_components/registration/reg
	br

	.wrap_small
		h2 Как все началось
		p В какой-то момент я обнаружил, что слишком часто захожу в социальные сети читая новости, которых становилось все больше.
			|  Чтобы оптимизировать это процесс, остаться в курсе событий и не пропустить самое интересное, мне пришла в голову идея фильтровать содержимое лент.
			|  К моему удивлению, я ничего не нашел для этого. Так и появилась идея сделать такой сервис.

		br
		h2 Что делает дуршлаг
		p Он фильтрует вашу ленту от воды. Основная идея — поиск лучшего из ленты, сортировка и отправка вам на почту раз в
			| #{' '}
			code X
			|  времени. Выбрать лучшее — не простая задача. Сейчас алгоритм выбора очень простой, тут пока нет машинного обучения и нейронных сетей.
			| Нужно проверить нужно ли это кому-то еще кроме меня.

		br
		h3 В чем польза
		ol
			li
				i Лучшая лента новостей.
				|  Вы читаете только то, что интересно и актуально для вас, а не для СМИ.
			li
				i Экономия времени.
				|  Читайте письма с выборкой лучших твитов, а не всю ленту.
			li
				i Не упустите крутые твиты.
				|  Листая ленту можно случайно пропустить интересный твит. С нашими письмами такого не произойдет.
			li
				i Можете повлиять на сервис.
				|  Мы только запускаемся. Плана у нас нет, только ориентиры. Если у вас есть идеи или предложения — мы с радостью выслушаем вас.

	br
	.wrap_small
		h3 Ограничения
		p Это первая бета, количество пользователей ограничено по техническим причинам, чтобы наш маленький сервер не упал под нагрузкой.
			|  После успешного тестирования и исправления критичных багов, мы обязательно уберем этот лимит.

		br
		include ./_components/registration/reg
		br
		br

		h3 Отзывы
		p Будет здорово, если вы поделитесь своим мнением или идей о сервисе с нами.
			|  Это можно сделать написав нам на общую почту
			| #{' '}
			a(href='mailto:info@socialcolander.net') info@socialcolander.net
			|  или мне в твиттер
			| #{' '}
			a(href='https://twitter.com/ymatuhin') @ymatuhin


		//- br
		//- h3 В жизни

		br
		h3 Над чем предстоит работать
		ul
			li Добавить социальные сети: вконтакте, фейсбук (?), rss (?)
			li Улучшить дизайн писем и сайта
			li Усовершенствовать алгоритм выбора лучших сообщений
			li Добавить параметры для настройки
