extends /_layouts/default

block vars
	- var title = global.name
	- var description = global.description

block content
	h1
		img.logo(src='/assets/img/logo_crooped.png', width='64', height='40', alt='Социальный дуршлаг')
		| #{title}
	p.lead= description

	include ./_components/registration/reg.pug

	p= global.home.intro


	h2= global.home.features.title
	ol
		each feature in global.home.features.list
			li
				i= feature.title
				| #{'. '}
				| #{feature.description}

	h3= global.home.reviews.title
	p!= global.home.reviews.text

	blockquote
		p
			| #{global.home.reviews.author_text}
			small
				| —
				| #{' '}
				a(href='//twitter.com/ymatuhin')= global.home.reviews.author
				| , #{' '}
				cite= global.home.reviews.author_who

	hr
	footer.quiet
		small
			| 2016 © #{' '}
			a(href='/') socialcolander.net
		br
		small= global.home.tags
