doctype html
html(lang=global.lang)
	head
		block vars
		- var version = Date.now()

		title= title
		meta(name='description', content=description)
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
		link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
		link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
		link(rel='manifest', href='/manifest.json')
		link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
		meta(name='theme-color', content='#ffffff')
		link(rel="stylesheet", href=`/index.min.css?v=${version}`)

	body(class=pageClass)
		block content

		script.
			window.messages = window.messages || {}
			window.messages.settings = window.messages.settings || {}
			window.messages.activate = window.messages.activate || {}

			window.messages.settings.redirect = "#{global.settings.messages.redirect}"
			window.messages.settings.success = "#{global.settings.messages.success}"
			window.messages.activate.redirect = "#{global.activate.messages.redirect}"

		script(src=`/index.min.js?v=${version}`)

		//- Yandex.Metrika counter
		| <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter43022739 = new Ya.Metrika({ id:43022739, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/43022739" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
